<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243421149371-cn3ctsd59e3no5f85ba2cfhh1joio0te.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243421149371-cn3ctsd59e3no5f85ba2cfhh1joio0te</string>
	<key>API_KEY</key>
	<string>AIzaSyDnOlq6tpq6dhNsYKvZpWptkBbRzaqFaJA</string>
	<key>GCM_SENDER_ID</key>
	<string>243421149371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.musicApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>musicapp-cccfd</string>
	<key>STORAGE_BUCKET</key>
	<string>musicapp-cccfd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243421149371:ios:c1988d1f0ad6b21bf0919e</string>
</dict>
</plist>